[submodule "submodules/uTensor"]
	path = submodules/uTensor
	url = https://github.com/uTensor/uTensor.git
	branch = develop
[submodule "submodules/utensor_cgen"]
	path = submodules/utensor_cgen
	url = https://github.com/uTensor/utensor_cgen.git
	branch = develop
